<html>
<head>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="patch.js"></script>

</head>
<body ng-app-load="angapp">
<div ng-controller="testcontroller">{{text}}</div>
<div ng-include="'example.html'"></div>
</body>
</html>
